<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <script src="js/vue.min.js"></script>
        <script src="js/qrious.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <title>Gerador de QRCode</title>
    </head>

    <body>
        <div id="app">
            <h1>{{ title }}</h1>
            <div>
                <input type="text" size="25" placeholder="Digite um valor para gerar..." :value="text" @input="onData">
            </div>

            <div v-if="text" class="output">
                <img :src="newQRCode" alt="QRCode">
            </div>
        </div>       

        <div id="app2">
            <h1>{{ title }}</h1>
            <div>
                <input type="text" size="25" placeholder="Digite um valor para gerar..." v-model="text">
            </div>

            <div v-if="text" class="output">
                <img :src="newQRCode" alt="QRCode">
            </div>
        </div>     

        <script>
            new Vue({
                el: '#app',
                data: {
                    title: 'Gerador QRCode Modelo 1',
                    text: 'Lidiane Melo',
                    qrcode: new QRious({size: 300})
                },
                computed: {
                    newQRCode(){
                        this.qrcode.value = this.text;
                        return this.qrcode.toDataURL();
                    }
                },
                methods:{
                    onData(event){
                        this.text = event.target.value;
                    }
                }              
            });

            new Vue({
                el: '#app2',
                data: {
                    title: 'Gerador QRCode Modelo 2',
                    text: 'Lidiane Melo',
                    qrcode: new QRious({size: 300})
                },
                computed: {
                    newQRCode(){
                        this.qrcode.value = this.text;
                        return this.qrcode.toDataURL();
                    }
                }             
            });
        </script>
    </body>

</html>